[Unit]
Description=TeamCity Server
After=network.target

[Service]
Type=forking
PIDFile=/home/ubuntu/TeamCity/logs/teamcity.pid
ExecStart=/usr/bin/sudo /home/ubuntu/TeamCity/bin/teamcity-server.sh start
ExecStop=/usr/bin/sudo /home/ubuntu/TeamCity/bin/teamcity-server.sh stop
TimeoutSec=5min

[Install]
WantedBy=multi-user.target
