.weightedTimeline .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.weightedTimeline .axis path {
  stroke: none;
}
.weightedTimeline rect {
  stroke: white;
  stroke-width: 1px;
}

.weightedTimeline .highlighted .bar {
  opacity: 0.4;
}

.weightedTimeline .bar.highlightedElement {
  opacity: 1;
}
