.widget header {
    margin-top: 5px;
}
.widget h1 {
    margin: 0;
    font-weight: normal;
    font-size: 100%;
    letter-spacing: 0.08em;
}
.widget h1, .widget .csv {
    display: inline-block;
}
.widget .csv {
    margin-left: 1em;
    font-size: 70%;
    text-decoration: underline;
}
.widget a {
    text-decoration: none;
    color: inherit;
}
.widget {
    font-size: 1rem;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    z-index: 0;
}
.widget:hover:not(:target) {
    background-color: #f7f7f7;
}
.widget .enlarge {
    height: 100%;
    display: flex;
    flex-flow: column;
}
.widget svg {
    flex: 2;
    overflow: auto;
}
.widget:target {
    position: fixed;
    width: calc(100vmin - 1em - 5px); /* Substract header size to receive perfectly square box */
    height: 100vmin;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}
.widget:target::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.95;
    background-color: white;
    z-index: -1;
}

.widget .description {
    float: right;
    position: relative;
    padding: 2px 2px 0;
}
.widget .description section {
    display: none;
    position: absolute;
    top: 15px;
    right: 0;

    text-align: right;
    background: #eee;
    padding: 5px 10px 15px;
    font-size: 80%;
    width: 30%;
    min-width: 300px;
    word-wrap: break-word;
    border-radius: 2px 0px 2px 2px;
}

.widget .description:hover {
    background: #eee;
    border-radius: 2px 2px 0px 0px;
}
.widget .description:hover section,
.widget .description section:hover {
    display: block;
}

.widget .nodata {
    display: none;
}
.widget svg:empty + .nodata {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: grey;
}
.widget svg text {
    font-size: 0.8rem;
}
