.zoomableSunburst.highlighted .segment {
  opacity: 0.4;
}
.zoomableSunburst.highlighted .segment.highlightedElement {
  opacity: 1;
}
.zoomableSunburst g {
    cursor: pointer;
}
.zoomableSunburst path {
    stroke: white;
}
