/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/node_modules/
/test/node_modules/
/test/package-lock.json
.vagrant/
/examples/teamcity/cache/
/examples/jenkins/ubuntu-xenial-16.04-cloudimg-console.log
/examples/aws/data/
/data/
/log/
