/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/node_modules/
/test/node_modules/
/test/package-lock.json
.vagrant/
/examples/aws/data/
/examples/aws/deploy/.terraform/
/examples/aws/deploy/terraform.tfstate*
/data/
/log/
/examples/gocd/server/config/
/examples/teamcity/data/config/projects/_Root/
/examples/teamcity/data/config/*.dist
/examples/teamcity/data/config/*.xml
/examples/teamcity/data/config/*.dtd
/examples/teamcity/data/config/_auth/
/examples/teamcity/data/config/_logging/
/examples/teamcity/data/config/_notifications/
/examples/teamcity/data/config/**/*.properties
/examples/teamcity/data/system/
