/target
/classes
/checkouts
pom.xml
pom.xml.asc
/.lein-*
/.nrepl-port
/node_modules/
/resources/public/vendor/
/examples/aws/data/
/examples/aws/deploy/.terraform/
/examples/aws/deploy/terraform.tfstate*
/examples/aws_statics/deploy/.terraform/
/examples/aws_statics/deploy/terraform.tfstate*
/data/
/log/
/examples/gocd/server/config/
/examples/teamcity/data/
/test/integration/wiremock-standalone-*.jar
