.failPhases .axis path,
.failPhases .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.failPhases .x.axis text {
    font-size: 0.6rem;
}
.failPhases .x.axis path {
    display: none;
}
.failPhases rect {
    opacity: 0.8;
}
.failPhases rect.red {
    fill: red;
}
.failPhases rect.green {
    fill: green;
}
.failPhases rect.weekend.red {
    fill: darkred;
}
.failPhases rect.weekend.green {
    fill: darkgreen;
}
