.failphases .axis path,
.failphases .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.failphases .x.axis text {
    font-size: 0.6rem;
}
.failphases .x.axis path {
    display: none;
}
.failphases rect {
    opacity: 0.8;
}
.failphases rect.red {
    fill: red;
}
.failphases rect.green {
    fill: green;
}
.failphases rect.weekend.red {
    fill: darkred;
}
.failphases rect.weekend.green {
    fill: darkgreen;
}
