.jobRuntime .axis path,
.jobRuntime .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.jobRuntime .x.axis path {
  display: none;
}

.jobRuntime .line {
  fill: none;
  stroke-width: 2px;
}
.jobRuntime .job.highlightedElement .line,
.jobRuntime .job:hover .line {
  stroke-width: 5px;
}
