.pipelineRuntime .axis path,
.pipelineRuntime .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.pipelineRuntime .x.axis path {
  display: none;
}

.pipelineRuntime .line {
  fill: none;
  stroke-width: 2px;
}
.pipelineRuntime .job.highlightedElement .line,
.pipelineRuntime .job:hover .line {
  stroke-width: 5px;
}
