.runtimes .axis path,
.runtimes .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.runtimes .x.axis path {
  display: none;
}

.runtimes .line {
  fill: none;
  stroke-width: 2px;
}
.runtimes .entry.highlightedElement .line,
.runtimes .entry:hover .line {
  stroke-width: 5px;
}
